:root{
    --main-color:#93B7BE;
}
.bg-custom{
    background-color: var(--main-color);
}
.bg-text{
    color: var(--main-color);
}
.text-custom{
    font-family: Armata;

}
.text-prag{
    font-family: Quantico;
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background: linear-gradient(90deg, rgba(95, 72, 72,1),  rgba(255,255,255,0.5));
  }
.sfondo {
   background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background: linear-gradient(90deg, rgba(95, 72, 72,1),  rgba(255,255,255,0.5));
  }
  .odnofs{
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background: linear-gradient(90deg,rgba(255,255,255,0.5), rgba(95, 72, 72,1));
}
.kim{
    background-image: url('media/kim.png');
    z-index: 999;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height:100vh;
}
@media screen and (max-width:600px){
    .kim{
        background-image: url('media/kim.png');
        z-index: 999;
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        height:100vh;
        transform: translateX(-120px);
    }
    .text-custom{
        font-family: Armata;
        font-size: 18px;
    
    }
    .bg-text{
        color: var(--main-color);
        font-size: 50px;
    }
}
.barra{
    width:93%;
    height:4px;
    background: linear-gradient(90deg,transparent,var(--main-color),transparent);
}
.move{
    transform: translateX(-20px);
}
.iconX{
  transform: translateX(125px);
}
@media screen and (max-width:600px){
    .iconX{
        transform: translateX(170px);
        padding-bottom: 2px;
      }
}
.moveText{
    transform: translateX(-80px);
}
@media screen and (max-width:600px){
    .moveText{
        transform: translateX(0px);
    }
    .moveImg{
        right:40px;
    }
}
.moveImg{
    transform: translateX(80px);
}
